$bg-color: #101010;
$h1-color: #FFC86B;
$text-color: #f3f3f3;
$secondary-text-color: #9f9f9f;
$grey: #9f9f9f76;
$hover: #eed19f;
$white: #fff;
$black: #000;

$spacing: 3.125rem;
$sm-spacing: 1.875rem;


$font-family: "Poppins", sans-serif; 
