@mixin flex($dir, $wrap, $just, $align) {
  display: flex;
  flex-flow: $dir $wrap;
  justify-content: $just;
  align-items: $align;
}

@mixin media($medida: 75rem) {
  @media screen and (min-width: $medida) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (min-width: 46.875rem) {
      @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: 64rem) {
      @content;
  }
}


@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(1%);
    opacity: 1;
  }
}